<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    {{>header_links}}
        <link rel="shortcut icon" href="images/favicon.webp" type="image/webp">
</head>
<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="Nikky" class="img-fluid" title="Nikky Blinder">
                        </figure>  
                  </div>
                    <div class="col-md-6 col-12 mx-auto main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="span_text">Nikky Fookin Blinder</span>, Software Enginner</h1>
                        <a href="https://www.thapatechnical.com/" target="_blank"><button>About me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>